<table>
	<tr>
		<th>Client</th>
		<th>Date</th>
		<th>NIS</th>
		<th>Action</th>
		<th>Total</th>
	</tr>

	<% flagged.each_with_index do |clients, j| %>
		<% clients.each_with_index do |flags_bubble, i| %>
			<tr><td><%= flags_bubble[0][0] %> </td><td>Action group: <%= i + 1 %></td><td></td><td></td><td></td></tr>
			<% flags_bubble.each do |row| %>
				<tr>
					<td><%= row[0] %></td>
					<td><%= row[1] %></td>
					<td><%= row[2] %></td>
					<td class="action"><%= row[3] %></td>
					<td class="<%= row[4] ? 'blue' : '' %>"><%= row[4] %></td>
				</tr>
			<% end %>	
		<% end %>
	<% end %>
</table>